:root {
    --red: rgb(131, 31, 0);
    --score: #E18310;
    --answer: #b14c08;
    --bg: #fde4a9;
    --a_border: #F5701D;

    --stripWidth: 2%;
    --stripSpace: 6%;
    --stripColorDark: rgba(109, 37, 15, 0.075);
    --stripColorLight: rgba(250, 217, 139, 0.075);
}

.diamondBack {

    --stripWidth: 2%;
    --stripSpace: 6%;
    --stripColorDark: rgba(109, 37, 15, 0.075);
    --stripColorLight: rgba(250, 217, 139, 0.075);

    background: 
        repeating-linear-gradient(45deg, var(--stripColorDark) var(--stripWidth),transparent var(--stripSpace)) top,
        repeating-linear-gradient(-45deg,var(--stripColorDark) var(--stripWidth),transparent var(--stripSpace)) top, 
        repeating-linear-gradient(45deg,transparent var(--stripWidth),var(--stripColorLight) var(--stripSpace)) top,
        repeating-linear-gradient(-45deg,transparent var(--stripWidth),var(--stripColorLight) var(--stripSpace)) top, 
        linear-gradient(180deg,  var(--red), var(--bg)100%) bottom;

    background-size: contain;
}


body {
    /* linear-gradient(180deg,  rgb(131, 31, 0), var(--bg)100%) bottom */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Orbitron", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    user-select: none;
    gap: 3%;
}

.title {
    /* background-color: blue; */

    display: flex;
    justify-content: center;

    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 50px white;

    height: min-content;
    width: 90%;
    margin: 0 0;
    
}

.wrapper {
    /* background-color: #ef476f; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;

    gap: 2%;
}

.item {
    display: flex;
    gap: 1%;
    width: 90%;
    /* height: 8%; */
    font-size: 3rem;
}

.item > * {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 3px solid var(--a_border);

}

.answer {
    background: var(--answer);
    flex: 1;
    padding: 5px 2%;

}

.score {
    
    background: var(--score);
    display: flex;

    justify-content: center;
    font-weight: bold;
    width: 110px;
}


.incorrects {

    /* background-color: black; */
    width: 50%;
    height: 15%;
    /* margin-top: 1%; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.incorrects > * {
  
    display: flex;
    align-items: center;
    justify-content: center;
      
    background-color: var(--red);
    
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;

    color: white;
    font-size: 6.5rem;
    font-weight: bold;
    text-shadow: 0 0 50px var(--bg);

    visibility: hidden;
}