:root {
    --red: #ef476f;
    --score: #E18310;
    --answer: #b14c08;
    --bg: #fde4a9;
    --a_border: rgb(131, 31, 0);

    --stripWidth: 2%;
    --stripSpace: 6%;
    --stripColorDark: rgba(109, 37, 15, 0.075);
    --stripColorLight: rgba(250, 217, 139, 0.075);
}


body {
    /* linear-gradient(180deg,  rgb(131, 31, 0), var(--bg)100%) bottom */
    display: flex;
    flex-direction: column;
    font-family: "Orbitron", sans-serif;
    margin: 0;
    height: 90vh;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.diamondBack {

    background: 
        repeating-linear-gradient(45deg, var(--stripColorDark) var(--stripWidth),transparent var(--stripSpace)) top,
        repeating-linear-gradient(-45deg,var(--stripColorDark) var(--stripWidth),transparent var(--stripSpace)) top, 
        repeating-linear-gradient(45deg,transparent var(--stripWidth),var(--stripColorLight) var(--stripSpace)) top,
        repeating-linear-gradient(-45deg,transparent var(--stripWidth),var(--stripColorLight) var(--stripSpace)) top, 
        linear-gradient(180deg,  rgb(131, 31, 0), var(--bg)100%) bottom;

}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(90vh /5);
    width: 80%;
    gap: 5%;
    padding-top: 2%;
}

#title {
    font-size: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 90%;
    height: min-content;
    /* margin-bottom: 1%; */
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 25%;
    width: 80%;
    gap: 40%;
    padding-top: 4%;
}

.action {
    font-size: 3rem;
}

.controlBtn {
    background-color: #E18310;

    
    min-width: min-content;

    height: 100%;
    width: 100%;
    max-width: 50vw;
    max-height: 50vh;
    
    border-radius: 20px;
    border: 4px solid var(--a_border);

    font-size: 1.2rem;
    white-space: pre;
}

.number {
    font-size: 2rem;
    font-weight: bold;
}