:root {
    --red: #ef476f;
    --score: #E18310;
    --answer: #b14c08;
    --bg: #fde4a9;
    --a_border: rgb(131, 31, 0);

    --stripWidth: 2%;
    --stripSpace: 6%;
    --stripColorDark: rgba(109, 37, 15, 0.075);
    --stripColorLight: rgba(250, 217, 139, 0.075);
}


body {
    /* linear-gradient(180deg,  rgb(131, 31, 0), var(--bg)100%) bottom */
    display: flex;
    flex-direction: column;
    font-family: "Orbitron", sans-serif;
    margin: 0;
    height: 90vh;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.diamondBack {

    background: 
        repeating-linear-gradient(45deg, var(--stripColorDark) var(--stripWidth),transparent var(--stripSpace)) top,
        repeating-linear-gradient(-45deg,var(--stripColorDark) var(--stripWidth),transparent var(--stripSpace)) top, 
        repeating-linear-gradient(45deg,transparent var(--stripWidth),var(--stripColorLight) var(--stripSpace)) top,
        repeating-linear-gradient(-45deg,transparent var(--stripWidth),var(--stripColorLight) var(--stripSpace)) top, 
        linear-gradient(180deg,  rgb(131, 31, 0), var(--bg)100%) bottom;

}

#startBtn{
    background-color: #E18310;

    height: 20vh;
    aspect-ratio: 1/1;
    margin: 35vh 0;
    padding: 0;
    
    border-radius: 20px;
    border: 4px solid var(--a_border);

    font-size: 2rem;
    font-weight: bold;
    white-space: pre;
}

#title {
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    width: 90%;
    height: 20%;
    min-height: min-content; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 60%;
    width: 90%;
    gap: 4%;
    padding-top: 4%;
}

.row > * {
    background-color: #E18310;
    flex: 1 1 0;
    
    min-width: min-content;
    max-height: 50%;
    
    border-radius: 20px;
    border: 4px solid var(--a_border);

    font-size: 2rem;
    font-weight: bold;
    white-space: pre;
}

.number {
    font-size: 1.2rem;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20%;
    width: 80%;
    gap: 10%;
    padding-top: 4%;
}

.actions > * {
    background-color: #E18310;
    border-radius: 20px;
    border: 4px solid var(--a_border);

    font-weight: bold;
 
    height: 100%;
    aspect-ratio: 1/1;
}

#prev, #next {
    font-size: 4rem;
}

#wrong {
    font-size: 4rem;
}

#resetWrong {
    font-size: 2.5rem;

}