:root {
    --red: #ef476f;
    --score: #E18310;
    --answer: #b14c08;
    --bg: #fde4a9;
    --a_border: #F5701D;

    --stripWidth: 2%;
    --stripSpace: 6%;
    --stripColorDark: rgba(109, 37, 15, 0.075);
    --stripColorLight: rgba(250, 217, 139, 0.075);
}

.diamondBack {

    --stripWidth: 2%;
    --stripSpace: 6%;
    --stripColorDark: rgba(109, 37, 15, 0.075);
    --stripColorLight: rgba(250, 217, 139, 0.075);

    background: 
        repeating-linear-gradient(45deg, var(--stripColorDark) var(--stripWidth),transparent var(--stripSpace)) top,
        repeating-linear-gradient(-45deg,var(--stripColorDark) var(--stripWidth),transparent var(--stripSpace)) top, 
        repeating-linear-gradient(45deg,transparent var(--stripWidth),var(--stripColorLight) var(--stripSpace)) top,
        repeating-linear-gradient(-45deg,transparent var(--stripWidth),var(--stripColorLight) var(--stripSpace)) top, 
        linear-gradient(180deg,  rgb(131, 31, 0), var(--bg)100%) bottom;

    }


body {
                /* linear-gradient(180deg,  rgb(131, 31, 0), var(--bg)100%) bottom */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    font-family: "Orbitron", sans-serif;
    margin: 0;
    height: 100vh;
    user-select: none;
}

.title {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 90%;
    height: min-content;
    /* background-color: blue; */
    margin: 1% 0%;
    
}

.wrapper {
    /* background-color: #ef476f; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;

    gap: 1%;
}

.item {
    display: flex;
    flex-basis: 1;
    gap: 1%;
    width: 80%;
    height: 10%;
    font-size: 2.5rem;
    max-height: min-content;
}

.answer {
    background: var(--answer);
    display: flex;
    flex: 1;
    align-items: center;
    /* justify-content: center; */
    padding: 5px 2%;
    border-radius: 10px;
    border: 3px solid var(--a_border);
    /* box-shadow: 2px 1px 7px -2px var(--a_border); */
}

.score {
    
    background: var(--score);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    /* width: 10%; */
    min-width: 100px;

    border-radius: 10px;
    border: 3px solid var(--a_border);
}


